@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    border: 2px solid rgba(255, 255, 255, 0.452);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.2s, border 0.3s;
}